<section class="header">
    <div class="container">

        <section class="header">
            <div class="container">Elyza Bleau</div>
            <div class="container">
                <div class="glow">UX Designer</div>
        
                <img class="glitch" data-text="UX Designer" src="./assets/img/logos/haunted-logo.png">
        
                <p class="subtitle">Frontend Web Developer</p>
            </div>
        </section>
    <div class="scanlines"></div>
    </div>
</section>
