.space {
    height: 200px;
    width: 200px;
}

.jarallax {
    background-image: url(https://res.cloudinary.com/dadqp2oia/image/upload/v1629673789/Music%20Website/BG/home-bg_a5ont3.png);
    background-attachment: fixed; 
    height: 2500px;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-size: cover;
}